* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

:root {
    --background-color: #fff2e4;
    --header-bg-color: #6c9aa4;
    --text-main-color: #292929;
    --bg-li: #ffd6ac;
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--header-bg-color);
    color: var(--text-main-color);
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    padding: 32px 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

#list {
    background-color: var(--bg-li);
    max-width: 360px;
    margin: 0 auto;
    border-radius: 8px;
    
    padding: 16px;
}

.close {
    margin-left: 6px;
    color: red;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
}

footer p,
footer a{
    color: var(--text-main-color);
    transition: all .5s ease;
}

footer a:hover {
    background-color: var(--header-bg-color);
    padding: 4px;
    border-radius: 4px;
    transition: all .5s ease;
}